<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Products</title>
  <%- include('../../imports'); -%>
</head>
<body>
  <%- include('../../navbar'); -%>
  <div class="container">
    <div class="row">
        <h1>Products</h1>
    </div>

    <div class="row mb-2">
        <a href="/admin/product/create" class="btn btn-success">New Product</a>
    </div>

    <div class="row">
        <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Code</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
              </tr>
            </thead>
            <tbody>
              <% product.forEach((product) => { %>
                <tr>
                  <td><%= product.id %></td>
                  <td><%= product.title %></td>
                  <td><%= product.description %></td>
                  <td><%= product.price %></td>
                </tr>
              <% }); %>
              
            </tbody>
          </table>
    </div>
  </div>
</body>
</html>